<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 aria-label="Happy To Do TaskList"}>HAPPY
      <br>T<i class="fa fa-smile-o" aria-hidden="true"></i> D<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
    <nav>
      <ul class="nav-link-collection">
        <li>
          <%= link_to "Add New", tasks_new_path %>
        </li>
        <li>
          <%= link_to "View All", root_path %>
        </li>
        <li>
          <%= login_button %>
        </li>

      </ul>

    </nav>

  </header>

<%= yield %>

</body>
</html>
